body{
  margin: 0;
  padding: 0;
  background-image: url(login.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.loginBox{
  width:390px;
  height:450px;
  background:#000;
  color: #ffff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.loginBox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginBox input{
  width: 100%;
  margin-bottom: 20px;
}

.loginBox input[type="text"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 15px;
}
.loginBox input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
}

.loginBox input[type="submit"]:hover
{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.loginBox a{
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: darkgrey;
}

.loginBox a:hover{
  color: #ffc107;
}