.btn{
   background-color: #111;
   border-radius: 12px;
   color: white;
   padding: 15px 32px;
   text-decoration: none;
   display:inline-block;
   font-size: 18px;
   cursor: pointer;
   float:right;
 }

 .btn:hover {
   background-color: #01346c;
 }

body, html {
  height: 100%;
  margin: 2;
  font-size: 16px;
  font-family: "Lato", sans-sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: black;
}

img {
    float:left;
    opacity: 100%;
}

.pimg1, .pimg2, .pimg3, .pimg4{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1{
  background-image: url(1.jpg);
  min-height: 70%;
}

.pimg2{
  background-image: url(2.jpg);
  min-height: 200px;
}

.pimg3{
  background-image: url(3.jpg);
  min-height: 200px;
}

.pimg4{
  background-image: url(4.jpg);
  min-height: 200px;
}

.section{
  text-align: center;
  padding: 50px 80px;
}

.section-light{
  background-color: #262626;
  color: white;
}

.section-dark{
  background-color: #3d7a8f;
  color:white;
}

.section-dark p{
  display:grid;
  font-size: 1em;
  margin-bottom: 8px;
}





.p1text{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.p1text .border{
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.p1text .border .trans{

background-color: hsla(180, 24%, 12%, .5);
}
.footer{
  background-color: #3d7a8f;
  height: 400px;
  position: relative;
}

.footer .footer-content{
  border: 2px solid red;
  height: 350px;
  display: flex;
}
.footer .footer-content .footer-section{
  flex: 1;
  padding: 25px;
  border: 1px solid white;
}

.footer .footer-content h1,
.footer .footer-content h2{
  color: white;
}

.footer .footer-content .about h1 span {
  color: orange;
}

.footer .footer-content .about .contact span{
  display: block;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 8px;
}

.footer .footer-content .timings p{
  display:grid;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 8px;
}

.footer .footer-content .timings p span {
  text-decoration: underline;
  font-weight: normal;
}

.footer .footer-content .contact-form .contact-input{
  border-color: white;
  margin: 10px;
  line-height: 1.5rem;
  padding: .7rem 1.2rem;
  border: none;
}

.footer .footer-bottom{
  background-color: DodgerBlue;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}


@media(max-width:568px) {
  .pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment: scroll;
  }

}